.state.on {
    color:green;
}
.state.off {
    color:red;
}
.meter-container{
    height:75px;
}
.meter {
    position:relative;
    bottom:25px;
}
.threshold.above{
    color:orange
}
.threshold.below{
    color:blue
}

.switch-controls {
    width:90%;
}
.switch-controls, .switch, .sensor, .interlock{
    border:5px;
    border-radius:5px;
    border-style:solid;
    padding:10px;
    margin:10px
}

